*{
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: smooth;
}
:root{
    --bg-color: #ffffff;
    --text-color:#000;
    --second-color: #a09dab;
    --main-color: #349ff7;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
header{
    align-items: center;
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding: 30px 18%;
    position:fixed;
    right: 0; 
    top: 0;
    transition: .3s;
    width: 100%;
    z-index: 1000;
}
.navlist{
    display: flex
}
.navlist li{
    position: relative;
}
.navlist a{
    color: var(--text-color);
    font-weight: 500;
    font-size: var(--p-font);
    padding: 10px 27px;
}
img{ 
    height: auto;
    max-width: 540px;
    max-height: 540px;
    width: auto;
}

section{
    padding: 100px 18%;
}
.home{   
   align-items: center;
   grid-gap: 4rem;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   height:100%;
   min-height: 100vh;
   position:relative;
   width: 100%;
}
.home-text h1{
    font-weight: 500;
    font-size: var(--big-font);
    line-height: 1;
    margin: 10px 0px 25px;
}
.home-text h5{
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 23px;
}
.home-text h3{
    color: var(--main-color);
    font-weight: 500;
    font-size: 20px;
}
.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    margin-bottom: 20px;
    line-height: 28px;
}
.upload {
    margin: 10px 50px 25px;
}
span{
    color: var(--main-color)
}
.social a{
    align-items: center;
    background: rgb(130, 157, 245);
    border-radius: 50%;
    color: var(--bg-color);
    font-size: 17px;
    display: inline-flex;
    height: 35px;
    justify-content: center;
    margin-right: 22px;
    margin-bottom: 30px;
    width: 35px;   
}
.social a:hover{
    background: var(--main-color);
    transform: scale(1.1);
    transition: .5s;
}
/* .btn{
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500px;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
} */
.btn:hover{
    transform: scale(1.1);
}
.home-img img{
    height: auto;
    max-width: 100%;
    width:540px;
}
header.sticky{
    background: var(--bg-color);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    padding: 13px 18%;
}
.about{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 2rem;
}
.about-text h2{
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 8px 0px 25px;
    line-height: 1.1;
}
.about-text h3{
    font-size: 20px;
    font-weight: 500;
}
.heading{
    margin: 7px 0px 20px; 
    text-align: center;   
}
.col{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}
.layer h3{
    color: var(--main-color);
    margin-bottom: 25px;
}
.project-tools{
    margin: 7px 0px 20px;
}
.project-tools p{
    align-items: center;
    color: var(--second-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    grid-gap: 2rem;
    text-align: center;
}

@media (max-width: 1425px){
    header{
        padding: 16px 3%;
        transition: .3s;
    }
    heaer.sticky{
        padding: 10px 3%;
        transition: .3s;
    }
}
#fact-container {
  color: var(--main-color);
  margin-top: 20px;
}

.image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-thumbnails img {
    margin: 10px;
    max-height: 200px;
    max-width: 200px;
  }
  
  .image-thumbnails img:hover {
    border: thick solid var(--main-color);
  }

.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
    position: relative;
    min-height: 100vh;
}
.inputBox {
    margin-top: 10px;
    position: relative;
    width: 430px;
}

.inputBox input, 
.inputBox textarea {
    border: none;
    border-bottom: 2px solid;
    font-size: 16px;
    margin: 10px 0;
    outline: none;
    padding: 5px 0;
    resize: none;
    width: 100%;
}
.inputBox span {
    color: #666;
    font-size: 16px;
    left: 0;
    margin: 10px 0;
    padding: 5px 0;
    pointer-events: none;
    position: absolute;
    transition: 0.5s;
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.inputBox input[type="submit"] {
    background: var(--main-color);
    border: none;
    cursor: pointer;
    color: var(--bg-color);
    font-size: 18px;
    padding: 10px;
    width: 100%;
}