*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: smooth;
}
:root{
    --bg-color: #ffffff;
    --text-color:#000;
    --second-color: #a09dab;
    --main-color: #349ff7;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
header{
    padding: 30px 18%;
}

section{
    padding: 100px 18%;
}
.home{
   min-height: 100vh;
   height:100%;
   width: 100%;
   position:relative;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
   grid-gap: 4rem;
}
.home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}
.home-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500
}
.home-text h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 28px;
    margin-bottom: 20px;
}
span{
    color: var(--main-color)
}
.social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(130, 157, 245);
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
}
.social a:hover{
    transform: scale(1.1);
    background: var(--main-color);
    transition: .5s;
}
.btn{
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500px;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
}
.btn:hover{
    transform: scale(1.1);
}
.home-img img{
    max-width: 100%;
    width:540px;
    height: auto;
}
header.sticky{
    background: var(--bg-color);
    padding: 13px 18%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

@media (max-width: 1425px){
    header{
        padding: 16px 3%;
        transition: .3s;
    }
    heaer.sticky{
        padding: 10px 3%;
        transition: .3s;
    }
}
#greeting-container {
  margin-top: 20px;
}
